
/*Mobile first*/

.footer-container {
  background-color: #48494B;
  width: 100%;
  height: 8rem;
  margin: 0;
  padding: 0.7rem;
  position: relative;
  bottom: 0;
  }

  p {
    font-size: 0.5rem;
    margin-bottom: 0.1rem;
  }

  .footer-container:last-child {
    color: white;
    font-size: 0.3rem;
  }

  h5 {
    color: white;
    font-weight: lighter;
    font-size: 0.9rem;
  }

  ul, li {
    color: white;
    font-size: 0.7rem;
    list-style-type: none;
    margin-left: -1rem;
  }


  ul * {
    text-decoration: none;
  }

  .contact, .social-media {
    display: inline-block;
  }

  .contact {
    padding-right: 1rem;
  }

  fa-icon {
    cursor: pointer;
    padding: 1rem 0.4rem;
  }

@media only screen and (min-width: 768px) {

  .footer-container {
    background-color: #48494B;
    width: 100%;
    height: 8rem;
    margin: 0;
    padding: 0.7rem;
    position: relative;
    bottom: 0;
    }
  
    p {
      font-size: 0.5rem;
      margin-bottom: 0.1rem;
    }
  
    .footer-container:last-child {
      color: white;
      font-size: 0.3rem;
    }
  
    h5 {
      color: white;
      font-weight: lighter;
      font-size: 0.9rem;
      padding-top: 0.5rem;
    }
  
    ul, li {
      color: white;
      font-size: 0.7rem;
      list-style-type: none;
      margin-left: -1rem;
      margin-bottom: 0;
    }
  
    ul * {
      text-decoration: none;
    }
  
    .contact, .social-media {
      display: inline-block;
    }
  
    .contact {
      padding-right: 1rem;
    }
  
    fa-icon {
      cursor: pointer;
      padding: 1rem 0.4rem;
    }
}

@media only screen and (min-width: 1440px) {

    .footer-container {
        display: flex;
        padding: 2rem;
        align-items: center;
        }
      
    p {
        font-size: 1rem;
      }
      
    h5 {
        font-size: 1.5rem;
        margin: 0;
        padding-left: 5rem;
      }
      
    ul, li {
        color: white;
        font-size: 1.1rem;
        margin: 0;
        padding-left: 4rem;
      }
      
    ul * {
        text-decoration: none;
      }
      
    .contact, .social-media {
        display: inline-block;
      }

    .social-media {
      padding-left: 0;
    }
      
    .contact {
        padding-right: 1rem;
      }
      
      fa-icon {
        cursor: pointer;
        padding: 1rem 0.4rem;
      }
}

@media only screen and (min-width: 2560px) {
  .footer-container {
    justify-content: space-between; /*asettaa elementit vastakkaisiin päihin*/
    }

  ul {
    padding-left: 0;
    display: flex;
  }


}