<section class="footer-container">

    <p>All information on this website is for my personal portfolio demonstration purposes only.<br>
        Image and production information sources: Apple Inc., OnePlus and Samsung Group.</p>

    <ul>
        <a href="#"><li>About us</li></a>
        <a href="#">
            <li class="contact">Contact us</li>
            <li class="social-media">
                <a href="https://www.facebook.com"> <fa-icon [icon]="faFacebook"></fa-icon></a>
                <a href="https://www.instagram.com"> <fa-icon [icon]="faInstagram"></fa-icon></a>
                <a href="https://www.twitter.com"> <fa-icon [icon]="faTwitter"></fa-icon></a>
            </li>
        </a>
        <a href="#"><li>Terms of use</li></a>
    </ul>

    <h5>&copy; 2023 Mobile Store &trade;</h5>

</section>


