

<app-top-bar></app-top-bar>
<router-outlet></router-outlet>
<app-footer></app-footer>





<!--EVERY Angular app must have at least one Router-outlet.
  There is always one router-outlet by default when starting a new app.
They let us define where the output should be displayed.
It is specified at App Module or in individual modules.
When we configer routes, we point them to a component.
When we click to a route, it is pointing to a component, so the output of the component comes and get placed dynamically inside the router-outlet directive. -->